# Assignment: Data Wrangling

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  - This paper is about methods and advtanges of data tidying.
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  - "Tidy data standard" intended to provide a standard way to organize data within a dataset, to faciliate the inital data exploration process, and simplify the development of data analysis tools.
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  - Tidy datasets are standardized in uniform format, whereas messy datasets are not organized under standard rules.
  - Variables, for example, could be height and width. But they could be treated as observations of varible "dimension".
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  - Values are usually either a number or a string. They are belongs to a variable and an observation.
  - A variable contains all values that measure the same attribute across units.
  - An observation contains all values that measure the same units across attributes.
  5. How is "Tidy Data" defined in section 2.3?
  - In Tidy data:
- each variable forms a column
- each observation forms a row
- each type of observational unit forms a table

  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  - 5 problems:
- column headers are values not variable names
- multiple variables are stored in the same column
- variables are stored in both rows and columns
- multiple types of observational units are stored in the same table
- a single observational unit is stored in multiple tables
  - Table 4: column headers are values not variable names; variables are stored in rows
  - Melting a dataset is to turn columns into rows
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  - Table 11 is messy because multiple types are stored in one table.
  - Table 12A is molten because it turns column for each possible day as value under variable date. Table 12B is tidy because after turning element types into variables, each row now represents measurements for a single day.
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?
  - If tidy data is only as useful as the tools that work with it, then tidy tools will be inextricably linked to tidy data.
  - He hopes others will build on this framework to develop even better data storage strtegies and better tools.

In [1]:
! git clone https://github.com/CarolWuuu/DS3001_wrangling.git

Cloning into 'DS3001_wrangling'...
remote: Enumerating objects: 62, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (33/33), done.
remote: Total 62 (delta 21), reused 26 (delta 8), pack-reused 21
Receiving objects: 100% (62/62), 6.75 MiB | 21.47 MiB/s, done.
Resolving deltas: 100% (23/23), done.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [2]:
import pandas as pd

In [ ]:
airbnb_df = pd.read_csv('/content/DS3001_wrangling/assignment/data/airbnb_hw.csv',low_memory=False)

In [18]:
print("To clean the variable Price, I first removed the comma in values and cast them into integer type for futher analysis.")
airbnb_df['Price']=airbnb_df['Price'].str.replace(',','').astype(int)

To clean the variable Price, I first cast them into integer type for futher analysis.

In [20]:
print("Then I sorted the column values in descending order, so that it's easier to see trends in airbnbs with decreasing price." )
airbnb_df=airbnb_df.sort_values(by='Price',ascending=False)
airbnb_df.head(3000)

Then I sorted the column values in descending order, so that it's easier to see trends in airbnbs with decreasing price.

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
23927,23248648,11/2/2014,NO LONGER BOOKING RESERVATIONS,Manhattan,Apartment,95.0,Entire home/apt,10025.0,2.0,1,21,10000,95.0
4002,1177497,9/18/2011,Film Location,Brooklyn,House,NaN,Entire home/apt,11205.0,5.0,1,0,8000,NaN
17900,11598359,1/24/2014,SUPER BOWL Brooklyn Duplex Apt!!,Brooklyn,Apartment,NaN,Entire home/apt,11238.0,4.0,1,0,6500,NaN
2405,496780,4/9/2011,test listing which is not real,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,5.0,1,0,5999,NaN
7550,2675644,6/18/2012,Turn of the Century Film Location,Staten Island,House,40.0,Entire home/apt,10301.0,12.0,1,1,5000,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29735,39940356,7/29/2015,Amazing 3 Bdrm Brownstone Apt,Brooklyn,Apartment,NaN,Entire home/apt,11217.0,4.0,1,0,275,NaN
171,21823,6/16/2009,Soaring Bushwick 3 Bedroom,Brooklyn,Apartment,95.0,Entire home/apt,11221.0,5.0,1,9,275,98.0
27950,34174768,5/25/2015,Unbelievable NYC Apt Avail Sept!,Manhattan,Apartment,95.0,Entire home/apt,10018.0,2.0,1,12,275,98.0
829,126654,5/17/2010,Bright 2 BR in Heart of E Village,Manhattan,Apartment,90.0,Entire home/apt,10009.0,2.0,1,15,275,91.0
18431,12507486,2/23/2014,2 Bedroom East Village Oasis,Manhattan,Apartment,100.0,Entire home/apt,10009.0,3.0,1,48,275,100.0

In [10]:
missing_values=airbnb_df['Price'].isnull()
num_missing_values=missing_values.sum()
print(num_missing_values)

0

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?